h1 {
    font-family: sans-serif;
    text-decoration: underline;
}

p {
    font-weight: 600;
    font-size: 48px;
}

body {
    font-size: 16 px;
    font-style: italic;
    font-family: 'DynaPuff', cursive;
    line-height: 20px;
    text-align: center;
}

#amarelo {
    background-color: #EAAA00;
}

#vermelho {
    background-color: #ff0000;
}

#marrom {
    background-color: #964B00;
}