.super-mario {
    width: 200px;
   position: absolute;
   padding: 200px 0 0 100px;
   z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    padding: 500px 0 0 150px;
    z-index: 3;
  }
  
  .baloon {
    position: absolute;
    z-index:1;
    padding-left: 230px;
    padding-top: 40px;
}
  
  .speech {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    padding: 80px 0 0 250px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    padding: 200px 0 200px 500px;
  }