
     
      
      h1 {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      /*
      .podium li {
       
      list-style: none;
      display: inline-block; 
      

      }
      */

      #first li, #second li, #third li {
        display: inline;
      }

      

      .first {
        background-color: rgb(235, 200, 84);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 200px;
        margin-bottom: 0px;
        margin-left: 500px;
        list-style: none;
      }

      .second {
        background-color: rgb(219, 219, 219);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
        display: inline-block;
        margin-left: 300px;
        
      }

      .third {
        background-color: rgb(170, 142, 106);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
        display: inline-block;
        margin-left: 1px;
      }

   .premios {
    text-align: center;
    list-style: none;
   }

   