
ol {
    background-color: #FFDB58; 
}

.even {
    color: darkgreen;
}

.odd {
    text-transform: uppercase;
}

.header {
    color: red;
}
.crooked {
    font-size: 40px;
    border: 1px solid black;
}

ul li, ol li {
    font-size: 20px;
}

ul li em, ol li em {
    font-weight: 800;
}

.colorblue {
    color: blue;
    text-decoration: none;
}
#aliados {

}