* {
    padding: 0;
    margin: 0;
}

#main-title {
    text-align: center;
    margin-top: 5%;
    font-size: x-large;
}
.title {
    text-align: center;
}

.header {
    background-color: gray;
    padding: 50px;
    margin-bottom: 50px;
}

#my-text {
    width: 80%;
    margin: auto;
    margin-bottom: 6em;
    text-align: justify;
}

.font-size {
    font-size: 15px;
}

.display-in-line {
display: inline-block;
}

span {
    text-align: center;
}

.boxes{
    text-align: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}
.shadows {
    font-family: 'Shadows Into Light', cursive;
}

/* .font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14;
}

.font16 {
font-size: 16;
} */
