
h1, p {
    text-align: center;
}

ol:hover {
    background-color: cornflowerblue;
}

ul:hover {
    background-color: blueviolet;
}

ol, ul {
    text-align: center;
}

li:active {
    color: white;
}

#mylist1{
    list-style: none;
}

#mylist2 {
    list-style: none;
}